body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#parent {
    background-color: rgba(36, 28, 28, 0.8);
    border: 2px solid rgba(36, 28, 28, 1);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    max-width: 1300px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-inline: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#villain {
    background-image: url('../images/Photos/Wella.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
.hero .title {
    text-align: center;
    font-size: 150px;
    font-weight: bold;
    margin-bottom: -25px;
}
.hero .subtitle {
    text-align: center;
    font-size: 45px;
    margin-top: -50px;
}
.content {
    text-align: center;
    margin: 64px 0;
}
.content h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}
.content h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.content p {
    margin-top: 8px;
    font-size: 16px;
}

@media all and (max-width: 1200px) {
    .hero .title {
        font-size: 100px;
        margin-bottom: 25px;
    }
    .hero .subtitle {
        font-size: 30px;
    }
    .content h2 {
        font-size: 45px;
    }
    .content h3 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .content p {
        margin-top: 8px;
        font-size: 16px;
    }
}

#log-in-career {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;
    font-size: 30px;
    padding: 13px 70px;
    background-color:rgb(220, 31, 31);
    color: white;
    border: rgb(220, 31, 31) solid 5px;
    border-radius: 50px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}
@media all and (min-width: 1200px) {
    #log-in-career:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}
@media all and (max-width: 1200px) {
    #log-in-career:active {
        background-color: rgba(0, 0, 0, 0);
    }
}