footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: red solid 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.footerContainer {
    display: flex;
    padding: 50px 50px;
    width: 1200px;
    flex-wrap: wrap;
}
.logoFooter {
    display: flex;
}
.logoFooter img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.footerContainer .blockContainer {
    display: block;
}
.footerContainer .blockContainer nav {
    display: block;
}
.footerContainer .blockContainer nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: underline;
}
.footerContainer .blockContainer nav a:hover {
    color: red;
}
.footerContainer .blockContainer div img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    filter:brightness(1);
}
.footerContainer .blockContainer div img:hover {
    filter:brightness(1.3);
}
.footerContainer .order-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 800;
    background-color: red;
    padding: 15px 18px;
    border: red solid 3px;
    border-radius: 50px;
    transition: scale 0.15s ease-in-out;
}
.footerContainer .order-button:hover {
    background-color: white;
    border-color: red;
    color: red;
    cursor: pointer;
}
.footerContainer .order-button:active {
    scale: 0.97;
}
.socialMedias-icons {
    margin-left: -10px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.socialMedias {
    margin-left: 140px;
}
.quickSites {
    margin-left: 140px;
}
.order-button-a {
    text-decoration: none;
    margin-left: 130px; margin-top: 15px;
}
@media all and (max-width: 1200px) {
    .footerContainer {
        display: block;
        padding: 50px 10px;
    }
    .logoFooter {
        width: 100%;
        justify-content: center;
    }
    .logoFooter img {
        width: 150px;
        height: 150px;
        margin-inline: auto;
    }
    .socialMedias-icons {
        margin-inline: auto;
    }
    .socialMedias, .quickSites, .order-button-a {
        margin-top: 50px;
        text-align: center;
        margin-left: 0;
    }
    .order-button-a {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    .order-button {
        margin-top: 25px;
        margin-bottom: 100px;
    }
}